[submodule "markdeep"]
	path = markdeep-slides/markdeep
	url = https://github.com/morgan3d/markdeep.git
[submodule "remark-cicero/cicero"]
	path = remark-cicero/cicero
	url = https://github.com/mlouhivu/cicero.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "mathjax"]
	path = mathjax
	url = https://github.com/mathjax/MathJax.git
