/* Request lanscape from the printer/browser */
@page {
    size: landscape;
    margin-bottom: 100px;
}

.md div.title {
    margin-top: 250px;
    margin-bottom: 40px;
    font-size:  32pt;
    font-weight: bold;
    font-family: Corbel;
    counter-increment: page;
}

.md div.subtitle {
    font-size: 30pt;
}

.md hr {
    page-break-before: always;
}

body {
    width: 960px;
    max-width: 100%;
    font-size: 24pt;
    font-family: Corbel;
    color: #465055;
    padding: 50px;
    counter-reset: page;
    --accent-color: #465055;
}

/* Disable section numbering */
.md h1:before {content: ""}
.md h2:before {content: ""}

.md svg.diagram {
    zoom: 150%;
}

/* Sections become presentation sections */
.md h1, .md .nonumberh1 {
    page-break-before: always;
    width: 1100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 300px;
    padding-bottom: 20px;
    border: none;
    color: #FF;
    margin-left: -50px;
    margin-right:-50px;
    font-size: 50pt;
    font-family: Corbel;
    counter-increment: page;

    /* add top right corner logo to each new title slide */
    background-image: url(img/logo.png);
    background-position: right 50px top;
    background-size: 7%;
    background-repeat: no-repeat;
}

/* Subsections become slides */
.md h2, .md .nonumberh2 {
    page-break-before: always;
    width: 1100px;
    text-align: left;
    color: #006778;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin-left: -50px;
    margin-right:-50px;
    font-size: 28pt;
    font-family: Corbel;
    counter-increment: page;

    /* add top right corner logo to each new slide */
    background-image: url(img/logo.png);
    background-position: right 50px top; 
    background-size: 7%;
    background-repeat: no-repeat;
}

/*
        background-image: url(img/line.png);
        background-size: 960px 15px;
        background-position: center bottom;
        background-repeat: no-repeat;
*/

@media print{
    footer {
        position: fixed;
        bottom: 0;
        right: 0;
        color: #AAA;
        font-size: 50%;
    }
}


@media screen {

    footer { display: none }
    
    .md h1, .md .nonumberh1 {
        /* Show slide divisions */
        border-top: 2px solid black;
    }
}


/* Hide HR in printing */
@media print {
  .md hr {
    visibility: hidden;
  }
}

.md hr {
    counter-increment: page;
}

.md code {
    font-size: 100%;
}

.md pre.listing {
    font-size: 80%;
    border: 1px solid #CCC;
}

.md strong, .md b {
    color: var(--accent-color);
}

.md table {
    font-size: 100%;
    background-color: #eee;
}

.md table.table td {
    border: none;
}

.md table.table th {
    background-color: black;
    color: white;
    border: none;
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

.md table.table th + th {
    border-left: 3px solid white;
}

.md table.table td + td {
    border-left: 3px solid white;
}

.md table.table tr:nth-child(n) {
    background-color: none;
}

