@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(NunitoSans/NunitoSans-Regular.ttf) format(truetype);
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(NunitoSans/NunitoSans-Bold.ttf) format(truetype);
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(NunitoSans/NunitoSans-Italic.ttf) format(truetype);
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(NunitoSans/NunitoSans-BoldItalic.ttf) format(truetype);
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(Inconsolata/Inconsolata-Regular.ttf) format(truetype);
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(Inconsolata/Inconsolata-Bold.ttf) format(truetype);
}
