@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(NotoSans/NotoSans-Regular.ttf) format(truetype);
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(NotoSans/NotoSans-Bold.ttf) format(truetype);
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(NotoSans/NotoSans-Italic.ttf) format(truetype);
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(NotoSans/NotoSans-BoldItalic.ttf) format(truetype);
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(Inconsolata/Inconsolata-Regular.ttf) format(truetype);
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(Inconsolata/Inconsolata-Bold.ttf) format(truetype);
}
