/* CSC colors
 *  (main)
 *   magenta:   #971964 (official #830051)
 *   teal:      #007a8b (official #006778)
 *   grey:      #717d84 (official #5e6a71)
 *
 *  (extra)
 *   green:     #8dca53 (official #7dc242)
 *   orange:    #ff6f00 (official #ff5800)
 *   purple:    #ea3589 (official #ea1d77)
 *   turquoise: #00cfc0 (official #00c7b2)
 *   dark blue: #004072 (official #002f5f)
 *   blue:      #0095c7 (official #0082bb)
 */
:root {
  --csc-magenta:   #830051;
  --csc-teal:      #006778;
  --csc-grey:      #5e6a71; 
  --csc-green:     #7dc242;
  --csc-orange:    #ff5800;
  --csc-purple:    #ea1d77;
  --csc-turquoise: #00c7b2;
  --csc-dark-blue: #002f5f;
  --csc-blue:      #0082bb;
}

body {
  font-family: Corbel;
  font-size: 24pt;
  color: var(--csc-grey);
}
h1, h2, h3, p {
  font-family: Corbel;
  color: var(--csc-grey);
}
img {
  max-width: 100%;
}

.remark-slide-content {
  font-size: 24pt;
  padding-left: 2.6em;
}
.remark-slide-content h1 { 
  font-size: 28pt;
  font-weight: bold;
  color: var(--csc-teal);
  padding-bottom: 0.8em;
}
.remark-slide-content h2 {
  font-size: 26pt;
}
.remark-slide-content h3 {
  font-size: 24pt;
}
.remark-code, .remark-inline-code {
  font-family: 'Consolas';
}


/* TITLE slide */
.title-slide h1, .title-slide h2 {
  color: #ffffff;
  margin-left: 28%;
  width: 72%;
  float: right;
  text-align: left;
}

.title-slide h1 {
  margin-top: 250px;
  font-size: 32pt;
  font-weight: bold;
  padding-bottom: 0em;
}
.title-slide h2 {
  font-size: 14pt;
}

/* AUTHOR slide */
.author-slide h1, .author-slide p {
  margin-left: 22.2%;
  margin-right: 50%;
  width: 27.8%;
  float: right;
  text-align: left;
}
.author-slide h1 {
  margin-top: 355px;
  font-size: 14pt;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 1ex;
}
.author-slide p {
  font-size: 12pt;
  margin-bottom: 1ex;
}
.author-pic {
  position: absolute;
  width: 170px;
  top:   388px;
  left:  107px;
}

.alapalkki {
  background-image: url(only-line.png);
  background-size: 960px 15px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.alapalkki img {
  vertical-align: bottom;
}

.footnote {
  position: absolute;
  bottom: 3em;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

/* Multiple columns */
.column:first-of-type {float:left}
.column {float:right}
.double .column {width: 50%}

/* TABLES */
th, td {
  padding-left:  1ex;
  padding-right: 1ex;
}
.show-cells th, .show-cells td {
  background-color: var(--csc-green);
}

@page {
  size: 1920px 1080px;
  margin: 0;
}

